.App {
  text-align: center;
  color: white;

}
body{
  background:  #427B10;
}

nav{
  display: flex;
  padding: 2%;
  max-height: 50px;
  background:  #427B10;
  align-items: center;
  box-shadow: 0px 1px 10px black;
}

.title{
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Inter' sans-serif;
font-style: normal;
}

.main-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2% 15% 0% 15%;
  padding: 2% 4%;
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
}
.img>img{
  float: right;
  }

.buttons{
  display: flex;
  margin-top: 2%;
}
.buttons>div{
  margin: 1%;
  color: #427B10;
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  cursor: pointer;
  align-self: center;
  border: 2px solid white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 2%;
}     
.buttons>div:nth-child(2){
  color:white;
  background-color: transparent;
  border: 2px solid white
}
.secondary{
  padding: 0% 12%;
  font-size: 1.2rem;
}
footer{
  display: flex;
  max-height: 100px;
  padding: 2% 2% 0% 2%;
  justify-content: center;
  align-items: center;
  
  margin-top: 5%;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1024px) {
  .main-content{
    grid-template-columns: 1fr;
    padding: 2% 2% 0% 2%    ;
  }
  .main-content>.img>img{
    width:100%;
  }
  .secondary{
    padding: 0% 2%;
  }

  footer{
    flex-direction: column;
    margin-top: 20%;
  }
    .img{
      order:1;
      margin-top: 10%;
    }
    .main_{
      order:2;
      margin-top: 10%;
      text-align: center ;
    }
    .buttons{
      margin-top: 10%;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .buttons>div{
      width: 100%;
    }
    .buttons>div:nth-child(2){
      margin-top: 4%;
    }

  .secondary{
    margin-top: 10%;
  }

}

@media screen and (max-width:420px) {
  .title{
    display: none;
  }

  .buttons>div{
    width: 100%;
  }
  .buttons>div:nth-child(2){
    margin-top: 4%;
  }
}